.lead-big {
    font-size: 28px;
    line-height: 48px;
    /*color: #999;*/
}

input {
    max-width: 235px;
    height: 38px;
    overflow: hidden;
    line-height: 38px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
}

.form-inline input,
.form-inline textarea,
.form-inline select {
    max-width: 235px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
}
.form-inline .form-group label {
    position: relative;
}
.form-inline .form-group label > span {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    color: #bdc3c7; 
    opacity: 1;
}
.submit.btn.btn-lg {
    font-size: 28px;
    color: #999;
    border: 1px dotted;
    background-color: transparent;
    border-radius: 0;
}